$background-gray: #f5f7fb;
$background-color: #f3f4f5;
$primary: #0063ff;

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #0063ff, // The primary color of your brand
  accent: #0063ff // The secondary color of your brand
));
